
<mtapp:setting
    id="google_api_key"
    label="Google API Key"
    hint="<a href="http://www.google.com/apis/maps/signup.html" target="_blank" title="Google Maps API Registration"><__trans phrase="Google Maps API Registration"></a> - Enter either the base url for MT or the hostname/directory combination that MT and most/all of the blogs in the system share."
    show_hint="1">
    <input type="text" name="google_api_key" id="google_api_key" class="full-width" value="<$mt:var name="google_api_key" escape="html"$>" />
</mtapp:setting>
