<div class="field">
    <div class="field-header"><label>Location</label></div>
    <div class="field-wrapper">
        
		<table width="100%" cellpadding="3" cellspacing="3">
			<tbody>
			    <tr>
			        <th align="left">Name</th>
			        <td rowspan="5"><a href='#' onclick="geocode('geotype_addr', 'geotype_geometry');return false;" title='Geocode this address' id='geocode'>Geocode</a></td>
			    </tr>
			    <tr>
			        <td><input type="text" name="geotype_locname" id="geotype_locname" value="<TMPL_VAR NAME=LOCATION_NAME ESCAPE=HTML>" maxlength="255" style="width: 316px"/></td>
				</tr>
				<tr>
				    <th align="left">Address</th>
				</tr>
				<tr>
				    <td><input type="text" name="geotype_addr" id="geotype_addr" value="<TMPL_VAR NAME=LOCATION_ADDR ESCAPE=HTML>" maxlength="255" style="width: 316px"/></td>
				</tr>
				<tr>
				    <td>Lat/Long: <span id="geotype_lat_long"><TMPL_VAR NAME=LOCATION_GEOMETRY></span><input type="hidden" name="geotype_geometry" id="geotype_geometry" value="<TMPL_VAR NAME=LOCATION_GEOMETRY ESCAPE=HTML>" /></td>
				</tr>
                <!-- <tr>
                    <td width=15%> 
                        <input type="text" value="<TMPL_VAR NAME=LOCATION_NAME>" name="geotype_locname" id="geotype_locname" />
                    </td> 
                    <td width=40%> 
                        <input type="text" value="<TMPL_VAR NAME=LOCATION_ADDR>" name="geotype_addr" id="geotype_addr"/>
                    </td> 
                    <td width=10%>
                        <input type="text" value="<TMPL_VAR NAME=LOCATION_GEOMETRY>" name="geotype_geometry" id="geotype_geometry" />
                    <td width=20%> 
                        <a href='#' onclick="geocode('geotype_addr', 'geotype_geometry');return false;" title='Geocode this address' id='geocode'>Geocode</a>
                    </td>
                </tr> -->
			</tbody>
			</table>
			<p>
				<table width="30%" cellpadding="3" cellspacing="3">
					<thead>

						<tr>
							<th scope="col" align=left>Saved Locations</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label for="geotype_select"> 
							    <select id="geotype_select" onchange="load_saved();"><option value="">--choose one--</option>
							        <TMPL_LOOP NAME=SAVED_LOCATIONS_LOOP>
							        <option value="<TMPL_VAR NAME=LOCATION_VALUE>"><TMPL_VAR NAME=LOCATION_NAME></option>
							        </TMPL_LOOP>
							    </select>
							</td>
						</tr>
						<tr><td width=20%> <a href="#" onclick="geotype_resetMap();return false;" title="Zoom out and center map" id="geocode">Reset Map</a></td></tr>
					</tbody>
				</table><div id="geo_map" style="width: <TMPL_VAR NAME=MAP_WIDTH>px; height: <TMPL_VAR NAME=MAP_HEIGHT>px; "></div>
				<script type="text/javascript"> //<![CDATA[ 

var map;
function load () {
    map = new GMap2(getByID('geo_map'));    
    <TMPL_IF NAME=LOCATION_GEOMETRY>
    var marker = new GMarker (new GLatLng (<TMPL_VAR NAME=LOCATION_GEOMETRY>), { title: '<TMPL_VAR NAME=LOCATION_NAME ESCAPE=JS>' });

    map.setCenter (new GLatLng(<TMPL_VAR NAME=LOCATION_GEOMETRY>), <TMPL_VAR NAME=DEFAULT_ZOOM_LEVEL>, <TMPL_VAR NAME=DEFAULT_MAP_TYPE>);    
    map.addOverlay (marker);
    <TMPL_ELSE>
    map.setCenter (new GLatLng(0, 0));
    </TMPL_IF>
    
    <TMPL_IF NAME=MAP_CONTROLS_OVERVIEW>
    map.addControl (new GOverviewMapControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_SCALE>
    map.addControl (new GScaleControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_MAP_TYPE>
    map.addControl (new GMapTypeControl());
    </TMPL_IF>
    
    <TMPL_IF NAME=MAP_CONTROLS_ZOOM_SMALL>
    map.addControl (new GSmallZoomControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_ZOOM_MEDIUM>
    map.addControl (new GSmallMapControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_ZOOM_LARGE>
    map.addControl (new GLargeMapControl());
    </TMPL_IF>
}

function addAddressToMap(response) {
    map.clearOverlays();
    if (!response || response.Status.code != 200) {
        alert("Sorry, we were unable to geocode that address");
    } else {
        place = response.Placemark[0];
        point = new GLatLng(place.Point.coordinates[1],
                            place.Point.coordinates[0]);
        map.setCenter (point, <TMPL_VAR NAME=DEFAULT_ZOOM_LEVEL>, <TMPL_VAR NAME=DEFAULT_MAP_TYPE>);
        marker = new GMarker(point, { title: getByID('geotype_locname').value });
        map.addOverlay(marker);
        marker.openInfoWindowHtml(place.address);

        getByID('geotype_geometry').value = place.Point.coordinates[1] + "," + place.Point.coordinates[0];
        getByID('geotype_lat_long').innerHTML = '';
        getByID('geotype_lat_long').innerHTML = place.Point.coordinates[1] + ", " + place.Point.coordinates[0];
  }
}

var geocoder;
function geocode () {
    if (! geocoder) {
        geocoder = new GClientGeocoder();
    }
    var address = getByID('geotype_addr').value;
    geocoder.getLocations (address, addAddressToMap);
}

function load_saved () {
    var select = getByID('geotype_select');
    
    if (select.options[select.selectedIndex].value == "") {
        return;
    }
    
    getByID('geotype_locname').value = select.options[select.selectedIndex].text;
    getByID('geotype_addr').value    = select.options[select.selectedIndex].value;
    
    geocode();
    
    select.selectedIndex = 0;
}

TC.attachLoadEvent (load);
                </script>
	</div>
</div>