    <TMPL_IF google_api_key><script type='text/javascript' src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=<TMPL_VAR NAME=GOOGLE_API_KEY>' ></script></TMPL_IF>
    <TMPL_IF NAME=TEMPLATE_CONTEXT><script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc.js"></script>
    <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>mt.js"></script></TMPL_IF>

    <style type="text/css">
        v\:* {
          behavior:url(#default#VML);
        }
    </style>
