<TMPL_INCLUDE NAME="header.tmpl">
<h3><MT_TRANS phrase="Edit Location"></h3>
<form name="location_form" id="location_form" method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
	<input type="hidden" name="__mode" value="geotype_edit_location" />
	<input type="hidden" name="dosave" value="1" />
	<input type="hidden" name="location_id" value="<TMPL_VAR NAME="location_id">" />
	<input type="hidden" name="blog_id" value="<TMPL_VAR NAME="blog_id">" />
	<table width="80%" cellpadding="0" cellspacing="4" border="0">
	<tr><td><label for="name">Name</td><td><input name="name" id="name" type="text" size="40" value="<TMPL_VAR NAME="loc_name" ESCAPE="html">" /></td></tr>
	<tr><td><label for="cross_street">Cross Street</td><td><input name="cross_street" id="cross_street" type="text" size="40" value="<TMPL_VAR NAME="loc_cross_street" ESCAPE="html">" /></td></tr>
	<tr><td><label for="description">Description</td><td><textarea name="description" id="description" rows="4" cols="35"><TMPL_VAR NAME="loc_description" ESCAPE="html"></textarea></td></tr>
	<tr><td><label for="hours">Hours</td><td><input name="hours" id="hours" type="text" size="40" value="<TMPL_VAR NAME="loc_hours" ESCAPE="html">" /></td></tr>
	<tr><td><label for="phone_number">Phone Number</td><td><input name="phone_number" id="phone_number" type="text" size="40" value="<TMPL_VAR NAME="loc_phone_number" ESCAPE="html">" /></td></tr>
	<tr><td><label for="place_id">PlaceID</td><td><input name="place_id" id="place_id" type="text" size="40" value="<TMPL_VAR NAME="loc_place_id" ESCAPE="html">" /></td></tr>
	<tr><td><label for="rating">Rating</td><td><input name="rating" id="rating" type="text" value="<TMPL_VAR NAME="loc_rating" ESCAPE="html">" size="3" /> (rating should be numeric)</td></tr>
	<tr><td><label for="thumbnail">Thumbnail</td><td><input name="thumbnail" id="thumbnail" type="text" size="40" value="<TMPL_VAR NAME="loc_thumbnail" ESCAPE="html">" /></td></tr>
	<tr><td><label for="url">URL</td><td><input name="url" id="url" type="text" size="40" value="<TMPL_VAR NAME="loc_url" ESCAPE="html">" /></td></tr>
	<tr><td colspan="2"><div style="margin: auto; text-align: center;"><input type="submit" value="Make Changes" /></div></td></tr>
	</table>
</form>
<p>Or return to the <a href="<TMPL_VAR NAME=SCRIPT_URL>/?__mode=geotype_list_locations&amp;blog_id=<TMPL_VAR NAME="blog_id">">list of locations</a>.</p>
<TMPL_INCLUDE NAME="footer.tmpl">
