<TMPL_INCLUDE NAME="header.tmpl">

<div class="wrap"><h2>GeoType Documentation</h2>	  <h3>About GeoType</h3>

	  <p>GeoType is a tool to help you embed geographic locations into your blog posts, and also include this information in your RSS/Atom syndicated feeds using the <a href="http://georss.org" title="GeoRSS.org website">GeoRSS</a> standard.</p>
	  <p>To begin using GeoType, write a new article and enter a location name a geographic address in the appropriate fields. Press <em>enter</em>, or click the <em>Geocode</em> button to verify on the map that this is the appropriate location. Additionally, you can click on the map to set a location. Once you save your post, the geographic location is stored with the post entry. If you want to just enter latitude and longitude, then enter <code>[latitude, longitude]</code> into the address field.</p>

	  <h4>Adding to your post</h4>
	  <p>You can insert a dynamic map into your post automatically by selecting "Automatically add a map after any post" in the GeoType options tab. This map will be inserted at the end of any post that has a location set for it.</p>
	  <p>Alternatively, you can manually insert a map by putting <code>INSERT_MAP</code> anywhere in your post text. The map will use the default map size as sent in your GeoType options. You can override this size by passing in INSERT_MAP(height,width), where height and width are the size of the map, in pixels.</p>
	  <p>You can also insert the geographic coordinates, or address of the post by using <code>INSERT_COORDS</code>, and <code>INSERT_ADDRESS</code>, respectively. These will be output using <a href="http://microformats.org" title="Microformats homepage">Microformat</a> styling. </p>

	  <p>INSERT_LOCATION will put in the stored name of the location into a post.</p>
	  <h4>Limitations</h4>
	  <p>Currently, GeoType only supports a single geographic coordinate. In the future it will support lines, polygons, and multiple points.</p>
	  <h3>Template Functions</h3>
	  <p>These functions are available from GeoType to further customize embedding geographic information into your blog. The <strong>Post</strong> functions return information about a specific post, or entry, and should be placed within the <em>the_post()</em> section of your templates. <strong>General</strong> functions can be used anywhere in your blog template and will return information pertaining to all of your geographic locations (such as maps, lists, links to locations)</p>

	  <h4>General Functions</h4>
	  <p>The following functions <em>return</em> the output. This allows you to perform any processing on the return text that you may want. To finally place the result in your template, use <code>echo</code>. For example, to output the stored address: <code>&lt;?php echo the_address(); ?&gt;</code></p>
	  <ul>
	   <li><code>geopress_map(height, width, num_locs)</code>: returns a GeoType map of the last <code>num_locs</code> number of locations. If no value is set for <code>num_locs</code>, then all locations are plotted. <em>caution</em>: plotting all locations could slow down/prevent people viewing your blog.</li>

	  </ul>
	  <h4>Post Functions</h4>
	  <ul>
	   <li><code>geopress_post_map(height, width)</code>: returns a GeoType map of the current post's location</li>
	   <li><code>the_coord()</code>: returns the coordinates for the post as an array, latitude, longitude</li>
	   <li><code>the_address()</code>: returns the address for the post</li>

	   <li><code>the_location_name()</code>: returns the saved name for the post's location</li>
	   <li><code>the_geo_mf()</code>: returns the coordinates of the post in <a href="http://microformats.org/wiki/geo" title="Microformats Wiki: geo">Microformat geo</a> format </li>
	   <li><code>the_adr_mf()</code>: returns the address of the post in <a href="http://microformats.org/wiki/adr" title="Microformats Wiki: adr">Microformat adr</a> format </li>

	   <li><code>the_loc_mf()</code>: returns the location name of the post in <a href="http://microformats.org/wiki/hcard" title="Microformats Wiki: hCard">Microformat hCard</a> format </li>
	  </ul>
	  <h4>Template Functions</h4>
	  <p>GeoType provides the ability to view all the posts at a specific location by putting "loc=#" in the url, where # is the id number of the location, or "location=savedname", where <code>savedname</code> is the the name of the location (e.g. Home or Trafalgar Square)</p>

	  <ul>
	   <li><code>geopress_location_name()</code>: prints out the name of the location if it is passed in by the url..</li>
	   <li><code>geopress_locations_list()</code>: prints out an unordered list of locations and links to display posts at that location.</li>
	  </ul>
	  </div> <!-- wrap -->
	  
<TMPL_INCLUDE NAME="footer.tmpl">