<!-- GeoPress Map -->
<div id="geo_map_<TMPL_VAR NAME=MAP_ID>" style="width: <TMPL_VAR NAME=MAP_WIDTH>px; height: <TMPL_VAR NAME=MAP_HEIGHT>px; float: left;"></div>
<script type="text/javascript"> //<![CDATA[ 
var geo_map_<TMPL_VAR NAME=MAP_ID>;
TC.attachLoadEvent (function() {
    geo_map_<TMPL_VAR NAME=MAP_ID> = new GMap2 (getByID ('geo_map_<TMPL_VAR NAME=MAP_ID>'));

    <TMPL_LOOP NAME=LOCATION_LOOP>
    var marker_<TMPL_VAR NAME=LOCATION_ORD> = new GMarker (new GLatLng (<TMPL_VAR NAME=LOCATION_GEOMETRY>), { title: '<TMPL_VAR NAME=LOCATION_NAME ESCAPE=JS>' });

    geo_map_<TMPL_VAR NAME=MAP_ID>.setCenter (new GLatLng(<TMPL_VAR NAME=LOCATION_GEOMETRY>), <TMPL_VAR NAME=DEFAULT_ZOOM_LEVEL>, <TMPL_VAR NAME=DEFAULT_MAP_TYPE>);    
    geo_map_<TMPL_VAR NAME=MAP_ID>.addOverlay (marker_<TMPL_VAR NAME=LOCATION_ORD>);
    </TMPL_LOOP>

    <TMPL_IF NAME=MAP_CONTROLS_OVERVIEW>
    geo_map_<TMPL_VAR NAME=MAP_ID>.addControl (new GOverviewMapControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_SCALE>
    geo_map_<TMPL_VAR NAME=MAP_ID>.addControl (new GScaleControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_MAP_TYPE>
    geo_map_<TMPL_VAR NAME=MAP_ID>.addControl (new GMapTypeControl());
    </TMPL_IF>
    
    <TMPL_IF NAME=MAP_CONTROLS_ZOOM_SMALL>
    geo_map_<TMPL_VAR NAME=MAP_ID>.addControl (new GSmallZoomControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_ZOOM_MEDIUM>
    geo_map_<TMPL_VAR NAME=MAP_ID>.addControl (new GSmallMapControl());
    </TMPL_IF>
    <TMPL_IF NAME=MAP_CONTROLS_ZOOM_LARGE>
    geo_map_<TMPL_VAR NAME=MAP_ID>.addControl (new GLargeMapControl());
    </TMPL_IF>

});
// ]]> 
</script><!-- end GeoPress Map -->