<$MTHTTPContentType type="application/atom+xml"$><?xml version="1.0" encoding="<$MTPublishCharset$>" ?>
<feed xmlns="http://www.w3.org/2005/Atom"
			xmlns:georss="http://www.georss.org/georss"
			xmlns:lp="http://www.lightpole.net/xmlns/1.0"
>
   <title><$MTBlogName remove_html="1" encode_xml="1"$>: Places</title>
   <link rel="alternate" type="text/html" href="<$MTBlogURL encode_xml="1"$>" />
   <link rel="self" type="application/atom+xml" href="<$MTBlogURL$>atom-places.xml" />
   <id>tag:<$MTBlogHost exclude_port="1" encode_xml="1"$>,<$MTDate format="%Y"$>:<$MTBlogRelativeURL encode_xml="1"$>/<$MTBlogID$>/lp/</id>
   <updated><MTEntries lastn="1"><$MTEntryModifiedDate utc="1" format="%Y-%m-%dT%H:%M:%SZ"$></MTEntries></updated>
   <MTIfNonEmpty tag="MTBlogDescription"><subtitle><$MTBlogDescription remove_html="1" encode_xml="1"$></subtitle></MTIfNonEmpty>
   <generator uri="http://www.sixapart.com/movabletype/"><$MTProductName version="1"$></generator>

<MTEntries lastn="30">
<MTGeoTypeLocations>
<entry>
   <title><$MTGeoTypeLocationName remove_html="1" encode_xml="1"$></title>
   <link rel="alternate" type="text/html" href="<$MTEntryPermalink encode_xml="1"$>" />
   <id><$MTLocationGUID$></id>
   <published><$MTEntryDate utc="1" format="%Y-%m-%dT%H:%M:%SZ"$></published>
   <updated><$MTEntryModifiedDate utc="1" format="%Y-%m-%dT%H:%M:%SZ"$></updated>
   <summary><MTIfNonEmpty tag="MTGeoTypeLocationDescription"><$MTGeoTypeLocationDescription remove_html="1" $><MT:Else><$MTEntryExcerpt remove_html="1" encode_xml="1"$></MTIfNonEmpty></summary>
   <author>
      <name><$MTEntryAuthorDisplayName encode_xml="1"$></name>
      <MTIfNonEmpty tag="MTEntryAuthorURL"><uri><$MTEntryAuthorURL encode_xml="1"$></uri></MTIfNonEmpty>
   </author>
<MTEntryCategories>
   <category term="<$MTCategoryLabel encode_xml="1"$>" scheme="http://www.sixapart.com/ns/types#category" />
</MTEntryCategories>
<MTEntryIfTagged><lp:tag><MTEntryTags glue=","><$MTTagName encode_xml="1"$>"></MTEntryTags></lp:tag></MTEntryIfTagged>
<content type="html" xml:lang="<$MTBlogLanguage ietf="1"$>" xml:base="<$MTBlogURL encode_xml="1"$>">
   <$MTEntryBody encode_xml="1"$>
   <$MTEntryMore encode_xml="1"$>
</content>
   <MTIfNonEmpty tag="MTGeoTypeLocationLatitude"><MTIfNonEmpty tag="MTGeoTypeLocationLongitude">
<georss:point> <$MTGeoTypeLocationLatitude$> <$MTGeoTypeLocationLongitude$></georss:point>
   <MTIfNonEmpty tag="MTGeoTypeLocationPhone"><lp:eattr name="Phone" value="<$MTGeoTypeLocationPhone encode_xml="1"$>" /></MTIfNonEmpty>
   <MTIfNonEmpty tag="MTGeoTypeLocationRating"><lp:eattr name="Rating" value="<$MTGeoTypeLocationRating encode_xml="1"$>" /></MTIfNonEmpty>
   <MTIfNonEmpty tag="MTGeoTypeLocationThumbnail"><lp:img src="<$MTGeoTypeLocationThumbnail encode_xml="1"$>" <MTIfNonEmpty tag="MTGeoTypeLocationURL">url="<$MTGeoTypeLocationURL encode_xml="1"$>"</MTIfNonEmpty> /></MTIfNonEmpty>

   <MTIfNonEmpty tag="MTGeoTypeLocationCrossStreet"><lp:eattr name="Cross Street" value="<$MTGeoTypeLocationCrossStreet encode_xml="1"$>" /></MTIfNonEmpty>

   <MTIfNonEmpty tag="MTGeoTypeLocationHours"><lp:eattr name="Hours" value="<$MTGeoTypeLocationHours encode_xml="1"$>" /></MTIfNonEmpty>
</MTIfNonEmpty></MTIfNonEmpty>
</entry>
</MTGeoTypeLocations>
</MTEntries>
</feed>
