<div id="main-content" style="overflow: auto">
<mtapp:settinggroup
    id="association_options">
    
    <mtapp:setting
        id="assoc_type"
        label="Association Type"
        label_class="top-label">
        <ul>
            <li><input type="radio" class="rb" name="assoc_type" value="static_map" /> Map image in entry text
                <p class="hint">Insert an actual static map image directly into the text.</p></li>
            <li><input type="radio" class="rb" name="assoc_type" value="interactive_map" /> Simple association
                <p class="hint">A general entry to location association that does not include an image in the entry, but is available for display via template tags.</p></li>
        </ul>
    </mtapp:setting>
</mtapp:settinggroup>

<mtapp:settinggroup
    id="map_options">
    
    <h3>Map Options</h3>
    <mtapp:setting
        id="MapType"
        label="Type">
        <select name="MapType" id="MapType">
            <option value="roadmap"<mt:if var="maptype" eq="roadmap"> selected="selected"</mt:if>>Roadmap</option>
            <option value="mobile"<mt:if var="maptype" eq="mobile"> selected="selected"</mt:if>>Mobile</option>
            <option value="satellite"<mt:if var="maptype" eq="satellite"> selected="selected"</mt:if>>Satellite</option>
            <option value="terrain"<mt:if var="maptype" eq="terrain"> selected="selected"</mt:if>>Terrain</option>
            <option value="hybrid"<mt:if var="maptype" eq="hybrid"> selected="selected"</mt:if>>Hybrid</option>
        </select>
    </mtapp:setting>

    <mtapp:setting
        id="map_size"
        label="Dimensions">
        <input type="text" name="width" id="width" size="5" value="<$mt:var name="width"$>" /> (width) x <input type="text" name="Height" id="Height" size="5" value="<$mt:var name="height"$>" /> (height)
    </mtapp:setting>
</mtapp:settinggroup>

<mtapp:settinggroup
    id="marker_options">
    
    <h3>Marker Options</h3>
    
    <mtapp:setting
        id="marker_color"
        label="Color">
        <select name="marker_color" id="marker_color">
            <option value=""<mt:if var="marker_color" eq=""> selected="selected"</mt:if>>Default</option>
            <option value="black"<mt:if var="marker_color" eq="black"> selected="selected"</mt:if>>Black</option>
            <option value="brown"<mt:if var="marker_color" eq="brown"> selected="selected"</mt:if>>Brown</option>
            <option value="green"<mt:if var="marker_color" eq="green"> selected="selected"</mt:if>>green</option>
            <option value="purple"<mt:if var="marker_color" eq="purple"> selected="selected"</mt:if>>purple</option>
            <option value="yellow"<mt:if var="marker_color" eq="yellow"> selected="selected"</mt:if>>yellow</option>
            <option value="blue"<mt:if var="marker_color" eq="blue"> selected="selected"</mt:if>>blue</option>
            <option value="gray"<mt:if var="marker_color" eq="gray"> selected="selected"</mt:if>>gray</option>
            <option value="orange"<mt:if var="marker_color" eq="orange"> selected="selected"</mt:if>>orange</option>
            <option value="red"<mt:if var="marker_color" eq="red"> selected="selected"</mt:if>>red</option>
            <option value="white"<mt:if var="marker_color" eq="white"> selected="selected"</mt:if>>white</option>
        </select>
    </mtapp:setting>
    
    <mtapp:setting
        id="marker_size"
        label="Size">
        <select name="marker_size" id="marker_size">
            <option value=""<mt:if var="marker_size" eq=""> selected="selected"</mt:if>>Default</option>
            <option value="tiny"<mt:if var="marker_size" eq="tiny"> selected="selected"</mt:if>>Tiny</option>
            <option value="mid"<mt:if var="marker_size" eq="mid"> selected="selected"</mt:if>>Mid</option>
            <option value="small"<mt:if var="marker_size" eq="small"> selected="selected"</mt:if>>Small</option>
        </select>
    </mtapp:setting>
    
    <mtapp:setting
        id="marker_char"
        label="Character">
        <input type="text" name="marker_char" id="marker_char" size="1" value="<mt:var name="marker_char">" />
    </mtapp:setting>
</mtapp:settinggroup>
</div>