<$mt:setvar name="screen_type" value="dialog-screen"$>
<mt:setvarblock name="page_title"><__trans phrase="Preview Locations"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/json.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/dialog.js"></script>

<script type="text/javascript" src="http://www.google.com/jsapi?key=<$mt:var name="google_api_key"$>"></script>
<link rel='stylesheet' href="<mt:var name="static_uri">plugins/GeoType/geotype.css" />

<script type='text/javascript'>

function maps_loaded () {
    var bounds = new google.maps.LatLngBounds();
    var locations = <mt:if var="location_list"><mt:var name="location_list" to_json="1"><mt:else>[]</mt:else></mt:if>;
    for (var i = 0; i < locations.length; i++) {
        bounds.extend (new google.maps.LatLng (locations[i].lat, locations[i].lng));
    }

    var preview_map = new google.maps.Map2 (getByID('preview_map'));
    preview_map.setCenter (bounds.getCenter());
    preview_map.setMapType (<$mt:var name="map_type"$>);
    preview_map.setZoom (preview_map.getBoundsZoomLevel(bounds));

    for (var i = 0; i < locations.length; i++) {
        var m = new google.maps.LatLng (locations[i].lat, locations[i].lng);
        preview_map.addOverlay (new google.maps.Marker (m, { title: locations[i].name }));
    }
<mt:if name="interactive_map_scale">preview_map.addControl(new google.maps.ScaleControl());</mt:if>
<mt:if name="interactive_map_type">preview_map.addControl(new google.maps.MapTypeControl());</mt:if>
<mt:if name="interactive_map_overview">preview_map.addControl(new google.maps.OverviewMapControl());</mt:if>
<mt:if name="interactive_map_zoom_control">
<mt:if name="interactive_map_zoom_control" eq="small_zoom">preview_map.addControl(new google.maps.SmallZoomControl());</mt:if>
<mt:if name="interactive_map_zoom_control" eq="small">preview_map.addControl(new google.maps.SmallMapControl());</mt:if>
<mt:if name="interactive_map_zoom_control" eq="large">preview_map.addControl(new google.maps.LargeMapControl());</mt:if>
</mt:if>
}

function init_preview_map () {
    google.load ('maps', '2', { "callback": maps_loaded });
}

TC.attachLoadEvent (init_preview_map);
</script>

</mt:setvarblock>

<mt:include name="dialog/header.tmpl">

<div id="preview_map" class="center"></div>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            onclick="closeDialog(); return false"
            type="submit"
            accesskey="x"
            title="<__trans phrase="Close">"
            ><__trans phrase="Close"></button>
    </div>
</div>

<mt:include name="dialog/footer.tmpl">
