<$mt:setvar name="screen_type" value="dialog-screen"$>
<mt:setvarblock name="page_title"><__trans phrase="Verify Location"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/json.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/dialog.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<mt:Var name="google_api_key">" type="text/javascript"></script>
<script type="text/javascript">
    var map = null;
    var geocoder = null;
    function initialize() {
        if (GBrowserIsCompatible()) {
            map = new GMap2(document.getElementById("map_canvas"));
            var point = new GLatLng(<mt:Var name="location_latitude">,<mt:Var name="location_longitude">);
            map.setCenter(point,17);
            map.addMapType(G_PHYSICAL_MAP);
            map.addControl(new GSmallMapControl());
            map.addControl(new GMapTypeControl());
            var marker = new GMarker(point);
            map.addOverlay(marker);
        }
    }
</script>
</mt:setvarblock>

<mt:include name="dialog/header.tmpl">

<form method="post" action="<$mt:var name="script_url"$>" id="location-form"<mt:unless name="entry_insert"> target="_top"</mt:unless>>
    <input type="hidden" name="__mode" value="insert_location" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="entry_insert" value="<$mt:var name="entry_insert"$>" />
    <input type="hidden" name="edit_field" value="<$mt:var name="edit_field"$>" />
    <mt:if name="user_id">
    <input type="hidden" name="user_id" value="<mt:var name="user_id" escape="html">" />
    </mt:if>

<mtapp:setting
    id="location_name"
    label_class="top-label"
    label="Name"
    required="1">
    <input type="text" class="full-width" name="location_name" id="location_name" value="" />
</mtapp:setting>

<mtapp:setting
    id="location_address"
    label_class="top-label"
    label="Address">
    <$mt:var name="location_address" escape="html"$>
    <input type="hidden" name="location_address" value="<$mt:var name="location_address" escape="html"$>" />
    <input type="hidden" name="location_latitude" value="<$mt:var name="location_latitude" escape="html"$>" />
    <input type="hidden" name="location_longitude" value="<$mt:var name="location_longitude" escape="html"$>" />
</mtapp:setting>

<mtapp:setting
    id="location_map"
    label_class="top-label">
    <div id="map_canvas" style="width:605px; height:274px; border:1px solid #333;"></div>
    <script type="text/javascript">
        initialize();
    </script>
</mtapp:setting>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            type="submit"
            title="<__trans phrase="Create Asset">"
            class="primary-button"
            ><__trans phrase="Create Asset"></button>
        <button
            onclick="closeDialog(); return false"
            type="submit"
            accesskey="x"
            title="<__trans phrase="Cancel (x)">"
            ><__trans phrase="Cancel"></button>
    </div>
</div>

</form>

<mt:include name="dialog/footer.tmpl">
