
<div class="setting">
    <p>Welcome to GeoPress. To begin using GeoPress, please obtain and enter a GoogleMaps as shown below. You can customize your default map view using the "GeoPress" button to the left. Or just go and start writing your posts!</p>
    <h2>Map</h2>
    <table width="100%" cellspacing="2" cellpadding="5" class="editform">			
        <tr valign="top"> 
            <th scope="row"><div class="label"><label for="google_api_key"><MT_TRANS phrase="Google API Key:"></label></div></th> 
            <td>
                <div class="field">
                    <input type="text" name="google_api_key" id="google_api_key" style="width: 95%" size="45" value="<TMPL_VAR NAME=google_api_key ESCAPE=HTML>" />
                    <p><a href="http://www.google.com/apis/maps/signup.html" title="GoogleMaps API Registration"><MT_TRANS phrase="GoogleMaps API Registration"></a> - <MT_TRANS phrase="Enter your blog url as the GoogleMaps URL"></p>
                </div>
            </td> 
        </tr> 
    </table>
</div>
