<div class="field">
    <div class="field-header"><label>Location</label></div>
    <div class="field-wrapper">
		<table width="100%" cellpadding="3" cellspacing="3">
			<thead>

				<tr>
					<th scope="col" align=left>Name</th>
					<th scope="col" colspan=3 align=left>Address</th>
					<th scope="col" colspan=3 align=left></th>
				</tr>
			</thead>
			<tbody>
				<tr>

					<td width=15%> 
						<input size="10" type="text" value="<TMPL_VAR NAME=LOCATION_NAME>" name="geopress_locname" id="geopress_locname" />
					</td> 
					<td width=50%> 
						<input size="50" type="text" value="<TMPL_VAR NAME=LOCATION_ADDR>" name="geopress_addr" id="geopress_addr" onKeyPress="return checkEnter(event);"/>
					</td> 
					<td width=20%> 
						<a href='#' onclick="geocode('geopress_addr', 'geopress_geometry');return false;" title='Geocode this address' id='geocode'>Geocode</a>
						<input type="hidden" value="<TMPL_VAR NAME=LOCATION_GEOMETRY>" name="geopress_geometry" id="geopress_geometry" />
						<input type="hidden" value="" name="geopress_location_id" id="geopress_location_id" />
					</td>
				</tr>
			</tbody>
			</table>
			<p>
				<table width="30%" cellpadding="3" cellspacing="3" style="float:right;">
					<thead>

						<tr>
							<th scope="col" align=left>Saved Locations</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label for="geopress_select"> 
							    <select id="geopress_select" onchange="geopress_loadsaved(this, 'geopress_addr', 'geopress_locname');showLocation('geopress_geometry', 'geopress_geometry');"><option value="">--choose one--</option>
							        <TMPL_LOOP NAME=SAVED_LOCATIONS_LOOP>
							        <option value="<TMPL_VAR NAME=LOCATION_VALUE>"><TMPL_VAR NAME=LOCATION_NAME></option>
							        </TMPL_LOOP>
							    </select>
							</td>
						</tr>
						<tr><td width=20%> <a href="#" onclick="geopress_resetMap();return false;" title="Zoom out and center map" id="geocode">Reset Map</a></td></tr>
					</tbody>
				</table><div id="geo_map" class="mapstraction" style="width: 400px; height: 250px; "></div>
				<!-- GeoPress Map -->
				<script type="text/javascript"> //<![CDATA[ 
				
                // @todo - make this use a Mapstraction geocoder or geocoder independent
                var geocoder = new GClientGeocoder();
                
				geopress_addEvent(window,'load', function() { 
					geo_map = new Mapstraction("geo_map","google");
					geo_map.addControls({
						pan: 1,
						zoom: 'small',
						overview: false,
						scale: 1,
						map_type: 1
					});
					geo_map.setMapType(Mapstraction.HYBRID);
				});
				<TMPL_UNLESS NAME=NEW_LOCATION>
				geopress_addEvent(window, 'load', function() { showLocation('geopress_geometry', 'geopress_geometry'); });
				<TMPL_ELSE>
				geopress_addEvent(window, 'load', function() { geopress_resetMap(); });
				</TMPL_UNLESS>
				// ]]> 
				</script><!-- end GeoPress Map -->
				<br/>
	</div>
</div>