<TMPL_INCLUDE NAME="header.tmpl">
<a href="<TMPL_VAR NAME=SCRIPT_URL>/geopress.cgi?__mode=map&blog_id=<TMPL_VAR NAME=BLOG_ID>">Edit Map Configuration</a>
</ul>
<TMPL_LOOP NAME=LOCATION_TABLE>
<div class="wrap"><h2>Configure Locations</h2>
    <form name="configure_map" method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
     <input type="hidden" name="__mode" value="save_locations" />
     <input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
     <input type="hidden" name="num_locations" value="<TMPL_VAR NAME=NUM_LOCATIONS>" />

    <table width="100%" cellpadding="3" cellspacing="3">
        <thead>
            <tr>
                <th scope="col" align=left>Show</th>
                <th scope="col" align=left>Name</th>
                <th scope="col" colspan=3 align=left>Address</th>
                <th scope="col" colspan=3 align=left></th>
            </tr>

        </thead>
        <tbody>	    
            <TMPL_LOOP NAME="OBJECT_LOOP">
            <tr><td width=5%>
                <input type="hidden" name="locid[<TMPL_VAR NAME=LOCATION_INDEX>]" value="<TMPL_VAR NAME=LOCATION_ID>"/>
                <input type="hidden" id="location_geometry-<TMPL_VAR NAME=LOCATION_INDEX>" name="location_geometry[<TMPL_VAR NAME=LOCATION_INDEX>]" value="<TMPL_VAR NAME=LOCATION_GEOMETRY>"/>
                <input type="checkbox" value="1" name='locvisible[<TMPL_VAR NAME=LOCATION_INDEX>]' <TMPL_IF NAME=LOCATION_VISIBLE>checked</TMPL_IF> /></td>
                <td width=15%> <input size="10" type="text" value="<TMPL_VAR NAME=LOCATION_NAME>" name='locname[<TMPL_VAR NAME=LOCATION_INDEX>]' /></td>
                <td width=50%> <input size="50" type="text" value="<TMPL_VAR NAME=LOCATION_LOCATION>" name='locaddr[<TMPL_VAR NAME=LOCATION_INDEX>]' onBlur="onclick=geocode('location_address-<TMPL_VAR NAME=LOCATION_INDEX>', 'location_geometry-<TMPL_VAR NAME=LOCATION_INDEX>');return false;" onKeyPress="return checkEnter(event);" id="location_address-<TMPL_VAR NAME=LOCATION_INDEX>"/></td>
            </tr>
            </TMPL_LOOP>
        </tbody>
    </table>
</TMPL_LOOP>    
    <div class="submit"><input type="submit" name="Options" value="Save Locations&raquo;" /></div>

    <div id="geo_map" class="mapstraction" style="width: 500px; height: 250px; float: left;"></div> <br/>
    <!-- GeoPress Map --><script type="text/javascript"> //<![CDATA[ 
    geopress_addEvent(window,'load', function() { 
        geo_map = new Mapstraction("geo_map","google"); var myPoint = new LatLonPoint(20,0);
        geo_map.addControls({
            pan: 1,
            zoom: 'small',
            overview: false,
            scale: 1,
            map_type: 1
        });
        geo_map.setCenterAndZoom(myPoint,1);
        geo_map.setMapType(Mapstraction.HYBRID);
        geo_map.addEventListener("click", function(p){ setMapPoint(p); } );});
        // ]]> 
        </script><!-- end GeoPress Map -->
<TMPL_LOOP NAME=LOCATION_TABLE>
        <script type='text/javascript'>
        geopress_addEvent(window,'load', function() { 
            var geopress_location;
            var marker;
<TMPL_LOOP NAME=OBJECT_LOOP>
            geopress_location = new LatLonPoint( <TMPL_VAR NAME=LOCATION_GEOMETRY>);
            marker = new Marker(geopress_location);
            marker.setInfoBubble("<TMPL_VAR NAME=LOCATION_NAME>");
            geo_map.addMarker(marker);
</TMPL_LOOP> 
        });
        </script>
</TMPL_LOOP> 

        <TMPL_INCLUDE NAME="footer.tmpl">