<!-- GeoPress Map -->
<div id="geo_map<TMPL_VAR NAME=MAP_ID>" class="mapstraction" style="width: <TMPL_VAR NAME=MAP_WIDTH>px; height: <TMPL_VAR NAME=MAP_HEIGHT>px; float: left;"></div>
<script type="text/javascript"> //<![CDATA[ 
geopress_addEvent(window,'load', function() { 
	geo_map<TMPL_VAR NAME=MAP_ID> = new Mapstraction("geo_map<TMPL_VAR NAME=MAP_ID>","<TMPL_VAR NAME=DEFAULT_MAP_FORMAT>"); 
	var myPoint<TMPL_VAR NAME=MAP_ID> = new LatLonPoint(<TMPL_VAR NAME=GEOMETRY>);
	geo_map<TMPL_VAR NAME=MAP_ID>.addControls({
		pan: 1,
		zoom: 'small',
		overview: false,
		scale: 1,
		map_type: 1
	});
    geo_map<TMPL_VAR NAME=MAP_ID>.setCenterAndZoom(myPoint<TMPL_VAR NAME=MAP_ID>,10);
    var marker<TMPL_VAR NAME=MAP_ID> = new Marker(myPoint<TMPL_VAR NAME=MAP_ID>);
    marker<TMPL_VAR NAME=MAP_ID>.setInfoBubble("<TMPL_VAR NAME=LOCATION_NAME>");
    geo_map<TMPL_VAR NAME=MAP_ID>.addMarker(marker<TMPL_VAR NAME=MAP_ID>);	
    geo_map<TMPL_VAR NAME=MAP_ID>.setMapType(Mapstraction.HYBRID);
});
// ]]> 
</script><!-- end GeoPress Map -->